body {
    background-color: rgb(202, 159, 242); /*warna kuning cerah */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* jenis huruf yang bersih */
    color: rgb(136, 0, 43);
}

kartu-profil {
    width: ; 250px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 15px; /* membuat lengkungan */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.kartu-profil image {
    width: 150px;
    border-radius: : 50%;
}
